.containerInner {
    background-color: #242424;
    padding: 10px;
}

.imagesSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}